@{
    Layout = null;
}


@if (ViewBag.SuccesMsg != null)
{
    <h3 style="font-family:'Times New Roman', Times, serif; color:darkblue"> @ViewBag.SuccesMsg</h3>
}
@if (ViewBag.FailedMsg != null)
{

    <h3 style="font-family:'Times New Roman', Times, serif; color:firebrick"> @ViewBag.FailedMsg</h3>
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="row">
            <div class="col-sm-3"></div>


            <div class="col-sm-6">
                <div class="card text-center">
                    <div class="card-header bg-success">
                        <h3>Product Add</h3>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Product</h4>

                        <form method="post">
                            <table>
                                <tr>
                                    <td>Name</td>
                                    <td>
                                        <input type="text" name="Name" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Code</td>

                                    <td>
                                        <input type="text" name="Code" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Catagory</td>

                                    <td>
                                        <input type="text" name="CatagoryID" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Reorder Lavel</td>

                                    <td>
                                        <input type="text" name="ReorderLavel" />
                                    </td>
                                </tr>
                                <tr>
                                    <td>Description</td>

                                    <td>
                                        <input type="text" name="Description" />
                                    </td>
                                </tr>

                                <tr>
                                    <td>Action</td>

                                    <td><input type="submit" value="Save" /></td>
                                </tr>
                            </table>
                        </form>

                    </div>
                    <div class="card-footer text-muted">
                        Some msg show here
                    </div>
                </div>
            </div>
           


            <div class="col-sm-3"></div>
        </div>
    </div>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/popper.min.js"></script>
</body>
</html>
